body {
    overflow: hidden;
}

#pedal-body {
    position: relative;
    display: flex;
    height: 80%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.knob-min-max, .knob-positioned {
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
}

.tree-way-switch {
    position: absolute;
    width: 10px;
    height: 40px;
}

#rate-knob {
    top: 113px;
    left: 80px;
}

#depth-knob {
    top: 113px;
    left: 321px;
}

#mode-knob {
    top: 539px;
    left: 321px;
}

#pedal-type-switch {
    top: 416px;
    left: 329px;
}

button {
    --button-background: #ee00d6;
    --button-background-hover: black;

    position: absolute;
    width: 90px;
    height: 75px;
    top: 630px;
    left: 80px;
    border-radius: 5px;
    border-width: 1px;
    stroke-width: 0px;
    background-color: var(--button-background);
    padding: 0px;
    border: 0px solid;
}

button:hover {
    background-color: var(--button-background-hover);
}

.svg-triangle path {
    stroke-width: 16px;
    stroke: white;
    stroke-linejoin: round;
    fill: white;
}

td {
    padding: 10px;
}

