body {
    overflow: hidden;
}

#pedal-body {
    position: relative;
    display: flex;
    height: 80%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.knob-min-max, .knob-positioned {
    position: absolute;
    width: 15%;
    height: 15%;
    margin: 0;
    padding: 0;
}

.tree-way-switch {
    position: absolute;
    width: 10px;
    height: 40px;
}

#rate-knob {
    top: 15%;
    left: 17%;
}

#depth-knob {
    top: 15%;
    left: 68%;
}

#mode-knob {
    position: absolute;
    top: 71%;
    left: 68%;
}

#pedal-type-switch {
    top: 57%;
    left: 70%;
    width: 5%;
    height: 6%;
}

button {
    --button-background: #ee00d6;
    --button-background-hover: black;

    position: absolute;
    width: 20%;
    height: 10%;
    top: 84%;
    left: 15%;
    border-radius: 5px;
    border-width: 1px;
    stroke-width: 0px;
    background-color: var(--button-background);
    padding: 0px;
    border: 0px solid;
}

button:hover {
    background-color: var(--button-background-hover);
}

.svg-triangle path {
    stroke-width: 16px;
    stroke: white;
    stroke-linejoin: round;
    fill: white;
}

td {
    padding: 10px;
}

